.profile-card__main{
    width: 14rem;
    height: 30rem;
    border: 10px solid var(--dark-color);
    border-radius: 10px;
    border: 2px solid ;
}
.profile-card__image{
    height: 200px;
    width: 200px;
}
.profile-card__name{
    margin: 10px 10px;
}
.price{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 столбца одинаковой ширины */
    gap: 10px 5px;
}
a{
    color: azure;
    text-decoration: none;
}
button {
    margin-left: 15px;
    background-color: var(--blue-color);
    border: solid rgb(152, 241, 255);
    border-radius: 10px;
    transform: scale(1); /* Начальный размер */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Плавный эффект */
  }
  
  button:hover {
    transform: scale(1.13); /* Увеличиваем при наведении */
    background-color: var(--blue-color); /* Можно сменить цвет */
    color: var(--dark-color);
  }